In [1]:
import pandas as pd

df = pd.read_csv("../data/student_data.csv")
df.head()

,Student_ID,Attendance,Internal_Marks,Assignment_Score,Study_Hours,Final_Result
0,101,85,78,80,3,Pass
1,102,60,45,50,1,Fail
2,103,92,88,90,4,Pass
3,104,55,40,45,1,Fail
4,105,75,70,72,2,Pass