In [11]:
import pandas as pd

df = pd.read_csv("../data/student_data.csv")
df.head()

,Student_ID,Attendance,Internal_Marks,Assignment_Score,Study_Hours,Final_Result
0,101,85,78,80,3,Pass
1,102,60,45,50,1,Fail
2,103,92,88,90,4,Pass
3,104,55,40,45,1,Fail
4,105,75,70,72,2,Pass

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Student_ID        10 non-null     int64
 1   Attendance        10 non-null     int64
 2   Internal_Marks    10 non-null     int64
 3   Assignment_Score  10 non-null     int64
 4   Study_Hours       10 non-null     int64
 5   Final_Result      10 non-null     object
dtypes: int64(5), object(1)
memory usage: 612.0+ bytes

In [13]:
df["Final_Result"] = df["Final_Result"].map({"Pass": 1, "Fail": 0})
df.head()

,Student_ID,Attendance,Internal_Marks,Assignment_Score,Study_Hours,Final_Result
0,101,85,78,80,3,1
1,102,60,45,50,1,0
2,103,92,88,90,4,1
3,104,55,40,45,1,0
4,105,75,70,72,2,1

In [14]:
df.isnull().sum()

Student_ID          0
Attendance          0
Internal_Marks      0
Assignment_Score    0
Study_Hours         0
Final_Result        0
dtype: int64

In [15]:
df.to_csv("../data/cleaned_student_data.csv", index=False)
print("Cleaned data saved successfully")

Cleaned data saved successfully